CompileFlags:
  Add:
    - -I.
    - -Ibazel-synth
    - -Ibazel-synth/external/imgui~
    - -Ibazel-synth/external/imgui_docking~
    - -Ibazel-synth/external/implot~
    - -Ibazel-synth/external/abseil-cpp~
    - -Ibazel-synth/external/pocketfft~
    - -Ibazel-synth/external/emsdk~
    - -Inode_editor
    - -xc++
    - -std=c++17
  Remove:
    - -fno-canonical-system-headers
    - -Wno-*
